button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}


.btnA {
    height: 51px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: $radius50;

    .btn-arrow {
        width: 27px;
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        .btn-arrow {
            transform: translateX(3px);

            .arrow-original {
                display: none;
            }

            .arrow-hover {
                display: block !important;
            }

        }
    }

    &.link-btn {
        padding: 0;
        color: $color-494850;

    }

    &.border-white-btn {
        background-color: transparent;
        border: 1px solid $color-FFFFFF;
        color: $color-FFFFFF;

        &:hover {
            background-color: $color-FFFFFF;
            border: 1px solid transparent;
            color: $color-494850;
        }
    }

    &.border-494850-btn {
        background-color: transparent;
        border: 1px solid $color-494850;
        color: $color-494850;

        &:hover {
            background-color: $color-494850;
            border: 1px solid transparent;
            color: $color-FFFFFF;
        }
    }

    &.bg-AF9064-btn {
        background-color: $color-AF9064;
        border: 1px solid transparent;
        color: $color-FFFFFF;

        &:hover {
            background-color: transparent;
            border: 1px solid $color-AF9064;
            color: $color-AF9064;
        }
    }
}