footer {
    .footer-logo{
        height: 110px;
    }
    .media-bg {
        width: 42px;
        height: 42px;
        border: 1px solid rgba($color: $color-FFFFFF, $alpha: 0.2);

        .media-img {
            height: 20px;
        }
    }
}