header {
    z-index: 99999;
    padding-block: 35px;

    nav {
        ul {
            li {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0px;

                    &:hover {
                        .header-link {
                            text-decoration: none !important;
                        }
                    }
                }

                .header-link {
                    padding-inline: 21px;

                    &:hover {
                        text-decoration: underline !important;
                    }

                }
            }
        }
    }
}