.sub-hero-section {
    height: 615px;

    .sub-hero-layer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2));
    }

    
}

.logo-slider-section {
    
    padding-left: 38px;
    padding-right: 38px;

    .logo-item{
        height: 108px;
    }

}