.category-hero-section {
    height: 541px;

    .category-hero-layer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2));
    }

    .category-image {
        height: 133px;
    }
.btnA{
    &:hover{
        .btn-arrow{
            transform: translateX(-3px);
        }
    }

    .prev-arrow {
        transform: rotate(180deg);
    }
}

}