.hero-section {
    .hero-layer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0));
    }


}

.left-right-media-section {
    .left-image {
        height: 590px;
    }

    .right-content {
        padding-right: 160px;
    }
}